<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv</display-name>
    <servlet-name>serv</servlet-name>
    <servlet-class>admin.serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonServlet</display-name>
    <servlet-name>MonServlet</servlet-name>
    <servlet-class>admin.MonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonServlet</servlet-name>
    <url-pattern>/MonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <jsp-file>/admin/admin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>modCat</display-name>
    <servlet-name>modCat</servlet-name>
    <jsp-file>/admin/modCat.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>modCat</servlet-name>
    <url-pattern>/modCat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>client</servlet-name>
    <jsp-file>/admin/client.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>client</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentification</display-name>
    <servlet-name>authentification</servlet-name>
    <servlet-class>servlet.authentification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentification</servlet-name>
    <url-pattern>/authentification</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servProduit</display-name>
    <servlet-name>servProduit</servlet-name>
    <servlet-class>admin.servProduit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servProduit</servlet-name>
    <url-pattern>/servProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>addCategorie</display-name>
    <servlet-name>addCategorie</servlet-name>
    <jsp-file>/admin/addCategorie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCategorie</servlet-name>
    <url-pattern>/addCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>produit</display-name>
    <servlet-name>produit</servlet-name>
    <jsp-file>/admin/produit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>produit</servlet-name>
    <url-pattern>/produit</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>manProduit</display-name>
    <servlet-name>manProduit</servlet-name>
    <jsp-file>/admin/manProduit.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manProduit</servlet-name>
    <url-pattern>/manProduit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>catServ</display-name>
    <servlet-name>catServ</servlet-name>
    <servlet-class>admin.catServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>catServ</servlet-name>
    <url-pattern>/catServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminServ</display-name>
    <servlet-name>adminServ</servlet-name>
    <servlet-class>admin.adminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminServ</servlet-name>
    <url-pattern>/adminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminClient</display-name>
    <servlet-name>adminClient</servlet-name>
    <servlet-class>admin.adminClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminClient</servlet-name>
    <url-pattern>/adminClient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>admin.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>son</display-name>
    <servlet-name>son</servlet-name>
    <servlet-class>admin.son</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>son</servlet-name>
    <url-pattern>/son</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>main</display-name>
    <servlet-name>main</servlet-name>
    <servlet-class>servlet.main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
</web-app>